*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* font-size: 62.5%; */
    font-family: 'Roboto', sans-serif;
}
:root{
    --primary-color:violet;
    --secondary-color:lightblue;
    --text-color:slateblue;
}
.header__top{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.829);
}
.header__top > div{
    display:flex;
    margin: 0 auto;
    height: 60px;
    width:90%;
    border:1px solid red;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.header__logo{
    line-height:60px;
    font-size:20px;
    color: white;
    overflow: hidden;
    font-weight:400;
    position: relative;
    border-radius: 20px;
}


.header__search{
    position: relative;
    width: 40%;
    height: 60px;
    line-height: 60px;
}
.input-search{
    position: absolute;
    width: 100%;
    padding:6px 0px 6px 20px;
    outline: none;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgba(255, 0, 0, 0.829);
    border-radius:5px;
}
.icon-search{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background:#333333;
    padding:7px 10px;
    color:#ffffff;
    overflow: hidden;
    border-radius: 3px;
}
.header__hotline{
    line-height: 60px;
    font-size:20px;
    font-weight:400;
    color: white;
}
.header__news{
    line-height: 60px;
    font-size:20px;
    font-weight:400;
    color: white;
}
.header__cart{
    line-height: 60px;
    font-size:20px;
    font-weight:400;
    color: white;
}
.header__hover-link:hover{
    color:whitesmoke;
}

.lightbox{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(128, 128, 128, 0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}
.lightbox-content{
    max-width:1000px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.lightbox-content img{
    height:400px;
    width:90%;
    object-fit: cover;
    border-radius:10px;
}
.lightbox-content i{
    color:#fff;
    font-size:30px;
    cursor: pointer;

}

